<div class="project">
  <div class="project__top">
    <h2 class="project__title">Projects</h2>
    <div class="today-day">
      <div>{{ todayDate | date:'d MMM'}}, <span>{{ todayDate | date:  'EEEE'}}</span></div>
    </div>
  </div>
  <div class="categories" *ngFor="let project of projects" (click)="getProjectTasks(project)">
    <div class="categories__item">{{ project.name }}</div>
  </div>
  <div (click)="openAddDialog()" class="project__add">
    Add new project
  </div>
</div>

<div class="project project-mobile">
  <div class="project__top">
    <h2 class="project__title">Projects</h2>
    <div class="today-day">
      <div>{{ todayDate | date:'d MMM'}}, <span>{{ todayDate | date:  'EEEE'}}</span></div>
    </div>
    <div (click)="openAddDialog()" class="project__add">
      Add new project
    </div>
  </div>
  <div class="categories-wrap">
    <div class="categories" *ngFor="let project of projects">
      <div class="categories__item" (click)="getProjectTasks(project)">{{ project.name }}</div>
    </div>
  </div>

</div>