*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.Development.json

*.userprefs

.vs/
.idea/

.vscode/

debug.log

logs/
/Src/Campus.Master.API/UI/angular.json
/Src/Campus.Master.API/UI/tslint.json
