<div class="dialog">
  <div class="dialog__header">
    <div class="dialog__header_wrapper">
      <div class="dialog__ico"></div>
      <div>
        <h1 class="dialog__title">Create an Event</h1>
        <p class="dialog__subtitle">Add some information about new event</p>
      </div>
    </div>
    <div>
      <mat-icon class="dialog__close_ico" (click)="onNoClick()">close</mat-icon>
    </div>
  </div>
  <div mat-dialog-content>

    <div class="dialog__control dialog__control_wrap">
      <label for="summary" class="dialog__label">Summary</label>
      <input id="summary" placeholder="Some summary info" class="dialog__input">
    </div>

    <div class="dialog__control dialog__control_wrap">
      <label for="description" class="dialog__label">Description</label>
      <input id="description" placeholder="Description" class="dialog__input">
    </div>

    <div class="dialog__control dialog__control_mainDate dialog__control_wrap">
      <label for="date" class="dialog__label">Date</label>
      <input id="date" class="dialog__input" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <div class="date dialog__control_wrap">
      <div class="date__control_from dialog__control">
        <!--      <label for="timeStart" class="dialog__label">Date</label>-->
        <input id="timeStart" class="dialog__input date__input" placeholder="Ex. Pizza" type="time">
      </div>

      <div class="date__control_to dialog__control">
        <!--      <label for="timeEnd" class="dialog__label">Date</label>-->
        <input id="timeEnd" class="dialog__input date__input" placeholder="Ex. Pizza" type="time">
      </div>
    </div>

    <div class="location dialog__control dialog__control_wrap">
      <div class="location__header">
        <label for="room" class="dialog__label">Location</label>
        <mat-checkbox (click)="onRemote()">Remote</mat-checkbox>
      </div>

      <input id="room" placeholder="Location" class="dialog__input" [disabled]="onCheckedRemote">
    </div>

  </div>

  <div class="actionBtn">
    <button class="dialog__btn dialog__btn_cancel"
            (click)="onNoClick()">Cancel
    </button>
    <button class="dialog__btn dialog__btn_create">Create</button>
    <!--    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
  </div>

</div>
