<div class="container">
  <div class="settings__menu settings__card">
    <mat-card class="adapt-height">
      <div class="menu__buttons">
        <div class="menu__item" routerLink="general" routerLinkActive="menu__general menu__item__text"><img
            src="/assets/img/profile-settings/menu-items/gear-inactive.svg" alt="General settings icon">General settings
        </div>
        <div class="menu__item" routerLink="edit-profile" routerLinkActive="menu__edit-profile menu__item__text"><img
            src="/assets/img/profile-settings/menu-items/edit-user-inactive.svg" alt="Edit profile icon">Edit profile
        </div>
      </div>
    </mat-card>
  </div>
  <div class="settings__group settings__card">
    <mat-card class="adapt-height">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>