.container
    display: flex  
    justify-content: space-evenly
    align-items: center  
    flex-wrap: wrap
    height: 100%


.settings
    &__bar        
        min-width: 25%
    &__group        
        min-width: 70%
    &__card
        height: 95%    
