<div class="stat">
  <div class="stat-top-content">
    <app-stat-card
      [count]="completeTasksInCategory"
      [countTotal]="totalTasksInCategory"
    >
      <!--      [completed]="true"-->
    </app-stat-card>
    <!--    <div class="stat__completed"> <span>completed</span> out of {{ totalTasksInCategory }}</div>-->
    <!--    <div class="stat__date">-->
    <!--      <mat-form-field>-->
    <!--        <mat-select [(value)]="selectedValue" (selectionChange)="selectOption($event.value)">-->
    <!--          <mat-option value="today-0">This day</mat-option>-->
    <!--          <mat-option value="week-1">This week</mat-option>-->
    <!--          <mat-option value="month-2">This month</mat-option>-->
    <!--        </mat-select>-->
    <!--      </mat-form-field>-->
    <!--    </div>-->
  </div>
  <div class="progress-bar">
    <mat-progress-bar class="progress-bar_style"
                      value="{{(completeTasksInCategory / totalTasksInCategory) * 100 }}"></mat-progress-bar>
  </div>
  <div>
    <div class="today-day">
      <div>{{ todayDate | date:'d MMM'}}, <span>{{ todayDate | date:  'EEEE'}}</span></div>
    </div>
    <div class="add-task">
      <button (click)="openAddTaskDialog()">Add task</button>
    </div>
  </div>
</div>
<!--<app-task-->
<!--  (updateTask)="onUpdatedTask($event)"-->
<!--  [task]="tasks"></app-task>-->
<!--<app-task [sortDate]="selectedValue"></app-task>-->
