@import "styles"

.classrooms_wrap
  height: 100%

.header
  margin: 0 20px


.main_wrap
  height: calc(100% - 80px)
  margin: 20px

  mat-card
    height: calc(100% - 36px)

.main
  padding: 10px

.main-header
  display: flex
  justify-content: space-between

.classrooms
  display: flex
  flex-wrap: wrap
  margin: 0 -16px

.view_wrap
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

.addClassroom
  text-align: right

  button
    outline: none
    border: none
    background-color: #7E57C2
    color: #FFFFFF
    padding: 7px 10px
    border-radius: 5px
    font-size: 14px
    font-weight: 500
    cursor: pointer
