<div class="sidebar">
  <div class="sidebar__logo">
    <img src="assets/img/user/logo.png" alt="logo">
  </div>
  <div class="sidebar__btn">
    <div class="sidebar__item sidebar_dashboard"
         routerLink="dashboard"
         routerLinkActive="router-link-active">Dashboard</div>
    <div class="sidebar__item sidebar_calendar"
         routerLink="calendar"
         routerLinkActive="router-link-active">Calendar</div>
    <div class="sidebar__item sidebar_notebooks"
         routerLink="classroom"
         routerLinkActive="router-link-active">Classroom</div>
  </div>
  <div class="sidebar__item sidebar_settings" routerLink="profile-settings">Settings</div>
</div>