<!--edit task-->

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      #inputTitle
      matInput
      [(ngModel)]="tmpTitle"
      (keydown.enter)="onConfirm()">
    <button
      *ngIf="tmpTitle.trim().length > 0 "
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpTitle=''" class="dialog-todo-title">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select project</mat-label>
    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Without project</mat-option>
      <mat-option *ngFor="let project of categories" [value]="project">
        {{ project.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select priority</mat-label>
    <mat-select [(ngModel)]="tmpPriority">
      <!--            <mat-option [value]="Low">not priority</mat-option>-->
      <mat-option *ngFor="let priority of priorities" [value]="priority">
        {{ priority.title }}
      </mat-option>
    </mat-select>
    <!--  [formControl]="priorityControl"  <mat-error *ngIf="priorityControl.hasError('required')">Please choose an animal</mat-error>-->
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select status</mat-label>
    <mat-select [(ngModel)]="tmpStatus">
      <!--            <mat-option [value]="low">not priority</mat-option>-->
      <mat-option *ngFor="let status of statuses" [value]="status">
        {{ status.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <!--  Calendar-->
  <mat-form-field>
    <input matInput placeholder="Deadline" #inputDate
           readonly="true"
           [matDatepicker]="picker"
           [(ngModel)]="tmpDate"
           (click)="picker.open()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button color="primary"
    (click)="onConfirm()"
    [disabled]="inputTitle.value.trim().length === 0">
    Accept
  </button>
  <button mat-raised-button (click)="onCancel()">Cancel</button>

  <button mat-button class="red"
          (click)="delete()"
          *ngIf="canDelete()">
    Delete
  </button>
</mat-dialog-actions>
