<div class="user-btn">
  <div class="user-btn_top">
    <div class="search">
      <!--      <mat-form-field>-->
      <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
      <input
        #filterInput
        (keydown.escape)="searchTaskText = ''; onFilterByTitle()"
        (keyup)="onFilterByTitle()"
        [(ngModel)]="searchTaskText"
        placeholder="search in tasks">

      <!--      <button-->
      <!--        (click)="searchTaskText = ''; onFilterByTitle()"-->
      <!--        *ngIf="filterInput.value.trim().length > 0"-->
      <!--        aria-label="Clear"-->
      <!--        mat-button>-->
      <!--      </button>-->

      <!--      </mat-form-field>-->
    </div>

    <div class="user">
      <img src="/assets/img/user/user.png" alt="user">
    </div>
  </div>

  <div class="metrics">
    <div>
      <img src="/assets/img/user/Commit_history.png" alt="Commit history">
    </div>
    <div>
      <img src="/assets/img/user/Burndown_chart.png" alt="Burndown chart">
    </div>
    <div>
      <img src="/assets/img/user/Recent_notebooks.png" alt="Recent notebooks">
    </div>
  </div>
</div>
