<form class="dialog">
  <div class="dialog__header">
    <div class="dialog__header_wrapper">
      <div class="dialog__ico"></div>
      <div>
        <h1 class="dialog__title">{{ 'CALENDAR.DELETE-EVENT.DIALOG.DELETE-EVENT-TITLE' | translate}}</h1>
        <p class="dialog__subtitle">{{ 'CALENDAR.DELETE-EVENT.DIALOG.CHOOSE-ACTION' | translate}}</p>
      </div>
    </div>
    <div>
      <mat-icon class="dialog__close_ico" (click)="onNoClick()">close</mat-icon>
    </div>
  </div>
  <div mat-card-content>
    <p>{{ 'CALENDAR.DELETE-EVENT.DIALOG.CONFIRM-DELETE' | translate}}</p>
  </div>
  <div class="actionBtn">
    <button class="dialog__btn dialog__btn_cancel"
            (click)="onNoClick()">{{ 'CALENDAR.DELETE-EVENT.DIALOG.BUTTON-PANEL.CANCEL' | translate}}
    </button>
    <button class="dialog__btn dialog__btn_create" (click)="deleteEvent()">
      <span [ngClass]="{'none-block': spinner}">{{ 'CALENDAR.DELETE-EVENT.DIALOG.BUTTON-PANEL.DELETE' | translate}}</span>
      <div [ngClass]="{'box loader-02': spinner}"></div>
    </button>
  </div>

</form>
