<div class="task-list-layout">
  <app-projects
    (selectCategory)="onSelectCategory($event)"
    (addCategory)="onAddCategory($event)"
    (updateCategory)="onUpdateCategory($event)"
    [projects]="projects"></app-projects>
  <div class="project-task">
    <h2 *ngIf="selectedProject == null else selected_project" class="selected-project">
      All task
    </h2>
    <ng-template #selected_project>
      <h2 class="selected-project">{{ selectedProject.name }}</h2>
    </ng-template>
    <app-task
      (updateTask)="onUpdatedTask($event)"
      (deleteTask)="onDeleteTask($event)"
      [task]="tasks"
      class="test-task"></app-task>
  </div>
</div>

