<div class="container">
  <div class="wrap-center">
    <div class="registration">
      <div class="registration__img">
        <img src="/assets/img/registration/reg.png" alt="photo">
        <span class="registration__text">Your time has come</span>
      </div>
      <div class="registration__form">
        <h1 class="registration__title">Getting started with <span>Campus</span></h1>
        <form action="#" [formGroup]="registerForm" (ngSubmit)="submit()">
          <div class="user-name">
            <div class="form-control"
                 [ngClass]="{invalid: registerForm.get('first_name').touched && registerForm.get('first_name').invalid}">
              <label for="first-name" class="first-name"></label>
              <input id="first-name" type="text" placeholder="First Name" formControlName="first_name">
              <div
                *ngIf="registerForm.get('first_name').touched && registerForm.get('first_name').invalid"
                class="validation">
                <small *ngIf="registerForm.get('first_name').errors.required">
                  First name is required
                </small>
                <small *ngIf="registerForm.get('first_name').errors.pattern">
                  Only english letters
                </small>
              </div>
            </div>
            <div class="form-control"
                 [ngClass]="{invalid: registerForm.get('last_name').touched && registerForm.get('last_name').invalid}">
              <label for="last-name" class="last-name"></label>
              <input id="last-name" type="text" placeholder="Last Name" formControlName="last_name">
              <div
                *ngIf="registerForm.get('last_name').touched && registerForm.get('last_name').invalid"
                class="validation">
                <small *ngIf="registerForm.get('last_name').errors.required">
                  Last name is required
                </small>
                <small *ngIf="registerForm.get('last_name').errors.pattern">
                  Only english letters
                </small>
              </div>
            </div>
          </div>
          <div class="form-control"
               [ngClass]="{invalid: registerForm.get('email').touched && registerForm.get('email').invalid}">
            <label for="email" class="email"></label>
            <input id="email" type="email" placeholder="Email" formControlName="email">
            <div
              *ngIf="registerForm.get('email').touched && registerForm.get('email').invalid"
              class="validation">
              <small *ngIf="registerForm.get('email').errors.required">
                Email is required
              </small>
              <small *ngIf="registerForm.get('email').errors.email">
                Please, enter the correct email type
              </small>
            </div>
          </div>
          <div class="form-control"
               [ngClass]="{invalid: registerForm.get('password').touched && registerForm.get('password').invalid}">
            <label for="password" class="password"></label>
            <input id="password" type="password" placeholder="Password" formControlName="password">
            <div
              *ngIf="registerForm.get('password').touched && registerForm.get('password').invalid"
              class="validation">
              <small *ngIf="registerForm.get('password').errors.required">
                Password is required
              </small>
              <small *ngIf="registerForm.get('password').errors.minlength">
                Password must contains {{registerForm.get('password').errors.minlength.requiredLength}} characters
              </small>
            </div>
          </div>
          <div class="form-control"
               [ngClass]="{invalid: registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid}">
            <label for="match_password" class="math_password"></label>
            <input id="match_password" type="password" placeholder="Matching password"
                   formControlName="confirmPassword">
            <div
              *ngIf="registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid"
              class="validation">
              <small *ngIf="registerForm.get('confirmPassword').errors &&
                registerForm.get('confirmPassword').errors.ConfirmPassword">
                Passwords don't match
              </small>
              <small *ngIf="registerForm.get('confirmPassword').errors.required">
                Password is required
              </small>
              <small *ngIf="registerForm.get('confirmPassword').errors.minlength">
                Password must contains {{registerForm.get('confirmPassword').errors.minlength.requiredLength}}
                characters
              </small>
            </div>
          </div>
          <div class="radio-group"
               [ngClass]="{invalid: registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').invalid}">
            <div class="form-control align-center registration-radio">
              <input id="radio-male" type="radio" name="gender" value="male"
                     formControlName="gender">
              <label for="radio-male" class="registration-radio-value">Male</label>
            </div>
            <div class="form-control align-center registration-radio">
              <input id="radio-female" type="radio" name="gender" value="female"
                     formControlName="gender">
              <label for="radio-female" class="registration-radio-value">Female</label>
            </div>
            <div class="form-control align-center registration-radio">
              <input id="radio-none" type="radio" name="gender" value="none"
                     formControlName="gender">
              <label for="radio-none" class="registration-radio-value">Can’t say</label>
            </div>
          </div>
          <button type="submit" class="registration__btn" [disabled]="registerForm.invalid">Register</button>
        </form>
        <span class="registered">Already registered ? <a [routerLink]="['/']"
                                                         class="registration__createAcc">Sign In</a></span>
      </div>
    </div>
  </div>
</div>
